---
title: Trenes de Chile y el Mundo
---
= partial 'partial/nav'
.wrapper
	= partial 'partial/top'
	= partial 'partial/details'
	= partial 'partial/quotes'
	= partial 'partial/contact'
	= partial 'partial/footer'